.container-login {
  background-color: cyan;
  height: 100vh;
}

.container-login .box-login {
  width: 80%;
  margin-inline: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.box-login .title-section {
  font-weight: bold;
  font-size: 5rem;
  margin-bottom: 15px;
}

.container-login .box-login input,
.btn-enter {
  width: 100%;
  max-width: 650px;
  padding: 1rem;
  margin-bottom: 15px;
  border: none;
}

.container-login .box-login .btn-enter {
  background-color: rgb(240, 240, 29);
  color: black;
  text-align: center;
}
